<mat-toolbar class="header" color="primary">
  <div class="sidenav" style="margin-top: 64px;">
    <mat-icon class="material-icons"> home</mat-icon>
    <a [routerLink]="['/home']">Home</a>
  </div>
  <div class="example-icon">
    <button mat-button (click)="logout()" matTooltip="Logout">
      <mat-icon>exit_to_app</mat-icon>
    </button>
  </div>
</mat-toolbar>
<div class="addUser">
  <button style="text-align: center;" mat-raised-button color="primary" (click)="AddUser()">Add User</button>
</div>

<!-- user table for user panel -->
<div class="set-layout">

  <mat-form-field class="search_filter">
    <input type="text" matInput placeholder="search by userName" [(ngModel)]="search" name="search">
    <button type="button" mat-button matSuffix mat-icon-button aria-label="Clear" (click)="resetSearch()">
      <mat-icon>close</mat-icon>
    </button>
    <button type="button" mat-button (click)="searchResult()" class="search-btn" matSuffix>
      <mat-icon>search</mat-icon>
    </button>
  </mat-form-field>
</div>
<!-- <div class="row">
  <div class="col-md-12">
    <div class="form-btn text-center mt-3">
      <button filter_btn mat-stroked-button (click)="resetFilter()"> Reset </button>
      <button filter_btn mat-raised-button color="primary" (click)="filter()"> Filter </button>
    </div>
  </div>
</div> -->
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="userDetails" class="mat-elevation-z8 set-layout" [routerLink]="['../home/addMoney']">

    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element;let i=index"> {{getSerialNumber(i+1)}} </td>
    </ng-container>

    <!-- userName Column -->
    <ng-container matColumnDef="userName">
      <th mat-header-cell *matHeaderCellDef> userName </th>
      <td mat-cell *matCellDef="let element"> {{element.userName}} </td>
    </ng-container>

    <!-- email Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> email </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>

    <!-- mobile number Column -->
    <ng-container matColumnDef="mobileNumber">
      <th mat-header-cell *matHeaderCellDef> mobile number </th>
      <td mat-cell *matCellDef="let element"> {{element.mobileNumber}} </td>
    </ng-container>

    <!-- address column -->
    <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef> address</th>
      <td mat-cell *matCellDef="let element"> {{element.address}} </td>
    </ng-container>

    <!-- Time column -->
    <ng-container matColumnDef="time">
      <th mat-header-cell *matHeaderCellDef> Time</th>
      <td mat-cell *matCellDef="let element"> {{element.time | customtime}} </td>
    </ng-container>

    <!-- Date column -->
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef> Date</th>
      <td mat-cell *matCellDef="let element"> {{element.time | date}} </td>
    </ng-container>

    <!-- Total -->
    <ng-container matColumnDef="Total">
      <th mat-header-cell *matHeaderCellDef> Total</th>
      <td mat-cell *matCellDef="let element"> {{element.TOTAL == true?(+element.Total):(-element.Total||'-' )  }} </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onRowClicked(row)"></tr>
  </table>

  <div *ngIf="userDetails?.result?.length==0">
    <h3 style="text-align: center;padding: 10px">No Record Found</h3>
  </div>
  <div style="background-color: aliceblue; ">
  </div>
  <!--  pagination  -->
  <mat-paginator style="margin-right: 48px;" [length]="total" [pageIndex]="page-1" [pageSize]="pageSize"
    [pageSizeOptions]="[ 5,10, 25,50, 100]" (page)="changePage($event)">
  </mat-paginator>
</div>
