.filter-btn {
  margin-left: 221px;
  padding: -58px;
  float: right;
  margin-top: -96px;
  margin-right: 49px;
}

.filter {
  height: 261px;
  width: 243px;
  background-color: gray;
  z-index: 1;
  position: absolute;
  margin-top: -51px;
  right: 0;
  margin-right: 37px;
}

.reset-btn {
  padding: 57px;
  margin-left: -48px;
}

.button {
  float: right;
  margin-top: -238px;
}

.date-btn {
  padding-top: 15px;
  padding-left: 20px;
}
