.invalid-feedback {
  display: inline-block;
  margin-bottom: 30px;
  font-size: 0.8em;
  color: rgb(44, 40, 40);
}


.forgot-password {
  height: 45px;
  float: right;
  margin-right: 50px;
  width: 100px;
  border-radius: 10px;
  background-color: antiquewhite
}
