<form class="example-form" [formGroup]="userDetailsForm" (ngSubmit)="onSubmit()">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-10 col-md-offset-1">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Product</th>
              <!-- <th>Quantity</th> -->
              <th class="text-center" style="text-align: initial;">Total</th>
              <th class="text-center">Add</th>
              <!-- <th class="text-center">Price</th> -->
              <th> </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="col-sm-8 col-md-6">
                <div class="media">
                  <a class="thumbnail pull-left" href="#"> <img class="media-object"
                      src="http://icons.iconarchive.com/icons/custom-icon-design/flatastic-2/72/product-icon.png"
                      style="width: 72px; height: 72px;"> </a>
                  <div class="media-body">
                    <h4 class="media-heading"><a href="#">Product name</a></h4>
                    <h5 class="media-heading"> by <a href="#">Brand name</a></h5>
                    <span>Status: </span><span class="text-success"><strong>In Stock</strong></span>
                  </div>
                </div>
              </td>

              <mat-form-field class="example-full-width">
                <mat-label>Total</mat-label>
                <input type="number" matInput formControlName="amount" name="amount" class="input-text"
                  [ngClass]="{ 'is-invalid': submitted && f.amount.errors }" required>
                <mat-error *ngIf="submitted && f.amount.invalid" class="invalid-feedback">total is required
                </mat-error>
              </mat-form-field>

              <mat-form-field class="example-full-width total">
                <mat-label>Add</mat-label>
                <input type="number" matInput formControlName="giveMoney" name="giveMoney" class="input-text"
                  [ngClass]="{ 'is-invalid': submitted && f.giveMoney.errors }" required>
                <mat-error *ngIf="submitted && f.giveMoney.invalid" class="invalid-feedback">add is required
                </mat-error>
              </mat-form-field>

              <div>
                <mat-form-field style="margin: 4px;">
                  <mat-label>Current date</mat-label>
                  <input matInput [matDatepicker]="picker" formControlName="currentDate" name="currentDate"
                    [(ngModel)]="userDetailsForm.currentDate" [max]="today">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>

                <mat-form-field>
                  <mat-label>Promise date</mat-label>
                  <input matInput [matDatepicker]="picker1" formControlName="promiseDate" name="promiseDate"
                    [(ngModel)]="userDetailsForm.promiseDate" [min]="today">
                  <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                  <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
              </div>

              <!-- <td class="col-sm-1 col-md-1" style="text-align: center">
              <input type="email" class="form-control" id="exampleInputEmail1" value="3">
            </td> -->
              <!-- <td class="col-sm-1 col-md-1 text-center"><strong>$4.87</strong></td>
            <td class="col-sm-1 col-md-1 text-center"><strong>$14.61</strong></td> -->
              <!--             
            <td class="col-sm-1 col-md-1">
              <button type="button" class="btn btn-danger">
                <span class="glyphicon glyphicon-remove"></span> Remove
              </button></td> -->
            </tr>
            <!-- <tr>
            <td class="col-md-6">
              <div class="media">
                <a class="thumbnail pull-left" href="#"> <img class="media-object"
                    src="http://icons.iconarchive.com/icons/custom-icon-design/flatastic-2/72/product-icon.png"
                    style="width: 72px; height: 72px;"> </a>
                <div class="media-body">
                  <h4 class="media-heading"><a href="#">Product name</a></h4>
                  <h5 class="media-heading"> by <a href="#">Brand name</a></h5>
                  <span>Status: </span><span class="text-warning"><strong>Leaves warehouse in 2 - 3
                      weeks</strong></span>
                </div>
              </div>
            </td>
            <td class="col-md-1" style="text-align: center">
              <input type="email" class="form-control" id="exampleInputEmail1" value="2">
            </td>
            <td class="col-md-1 text-center"><strong>$4.99</strong></td>
            <td class="col-md-1 text-center"><strong>$9.98</strong></td>
            <td class="col-md-1">
              <button type="button" class="btn btn-danger">
                <span class="glyphicon glyphicon-remove"></span> Remove
              </button></td>
          </tr> -->
          </tbody>
          <!-- <tfoot>
          <tr>
            <td>   </td>
            <td>   </td>
            <td>   </td>
            <td>
              <h5>Subtotal<br>Estimated shipping</h5>
              <h3>Total</h3>
            </td>
            <td class="text-right">
              <h5><strong>$24.59<br>$6.94</strong></h5>
              <h3>$31.53</h3>
            </td>
          </tr>
          <tr>
            <td>   </td>
            <td>   </td>
            <td>   </td>
            <td>
              <button type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-shopping-cart"></span> Continue Shopping
              </button></td>
            <td>
              <button type="button" class="btn btn-success">
                Checkout <span class="glyphicon glyphicon-play"></span>
              </button></td>
          </tr>
        </tfoot> -->
        </table>
        <div style="text-align: center;">
          <button style="margin:40px" mat-raised-button color="primary">Add</button>
        </div>
      </div>
    </div>
  </div>
</form>

<!-- generate pdf file  -->
<button mat-raised-button color="primary" (click)="generate()">send pdf file</button>

<!-- view details table -->
<button type="margin:3px" mat-raised-button color="accent" (click)="viewDetailPage()">View Details</button>
<div class="mat-elevation-z8" *ngIf="!showViewTable" style="margin: 14px;">
  <table id="basic-table" mat-table [dataSource]="userDetails" class="mat-elevation-z8 set-layout">

    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element;let i=index"> {{getSerialNumber(i+1)}} </td>
    </ng-container>

    <!-- time column -->
    <ng-container matColumnDef="time">
      <th mat-header-cell *matHeaderCellDef> Current date</th>
      <td mat-cell *matCellDef="let element"> {{element.currentDate | date}} </td>
    </ng-container>

    <!-- date column -->
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef> Promise date</th>
      <td mat-cell *matCellDef="let element"> {{element.promiseDate | date}} </td>
    </ng-container>

    <!-- take time column -->
    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef> Take Item</th>
      <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
    </ng-container>

    <!-- give money column -->
    <ng-container matColumnDef="giveMoney">
      <th mat-header-cell *matHeaderCellDef> giveMoney</th>
      <td mat-cell *matCellDef="let element"> {{element.giveMoney}} </td>
    </ng-container>

    <!-- balance column -->
    <ng-container matColumnDef="balance">
      <th mat-header-cell *matHeaderCellDef> Balance</th>
      <td mat-cell *matCellDef="let element"> {{element.balanceType == true?(+element.balance):(-element.balance )}}
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <div *ngIf="userDetails?.result?.length==0">
    <h3 style="text-align: center;padding: 10px">No Record Found</h3>
  </div>
  <div style="background-color: aliceblue; ">
  </div>

  <!--  pagination  -->
  <mat-paginator style="margin-right: 48px;" [length]="total" [pageIndex]="page-1" [pageSize]="pageSize"
    [pageSizeOptions]="[ 5,10, 25,50, 100]" (page)="changePage($event)">
  </mat-paginator>
</div>
