<div class="form-gap"></div>
<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="text-center">
            <h3><i class="fa fa-lock fa-4x"></i></h3>
            <h2 class="text-center">Forgot Password?</h2>
            <p>You can reset your password here.</p>
            <div class="panel-body">
              <form class="form-detail" [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                    <input type="text" style="margin-right: 71px; height : 41px; width: 247px"
                      placeholder="email address" class="form-control" formControlName="email" name="email"
                      class="input-text" [ngClass]="{ 'is-invalid': submitted && f2.email.errors }" required>
                  </div>
                  <div> <span *ngIf="submitted && f2.email.errors" class="invalid-feedback">
                      <span *ngIf="f2.email.errors.required" style="margin-left: -31px;">Email is required , </span>
                    </span>
                    <mat-error *ngIf="submitted && f2.email.errors" class="invalid-feedback">Email is not correct format
                    </mat-error>
                  </div>
                </div>
                <div class="form-group">
                  <button type="submit" class="btn btn-lg btn-primary btn-block">Reset Password </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
