<div class="form-gap"></div>
<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="text-center">
            <h3><i class="fa fa-lock fa-4x"></i></h3>
            <h2 class="text-center">Reset Password?</h2>
            <!-- <p>You can reset your password here.</p> -->
            <div class="panel-body">
              <form class="form-detail" [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                  <!-- password field -->
                  <div class="input-group">
                    <span>password</span>
                    <input type="text" style="margin-right: 71px; height : 41px; width: 247px" placeholder="password"
                      class="form-control" formControlName="password" name="password" class="input-text"
                      [ngClass]="{ 'is-invalid': submitted && f.password.errors }" required>
                  </div>

                  <div> <span *ngIf="submitted && f.confirm_password.errors" class="invalid-feedback">
                      <span *ngIf="f.confirm_password.errors.required" style="margin-left: -31px;">password is required
                      </span>
                      <!-- 
                      <mat-error *ngIf="resetPasswordForm.hasError('passwordNotMatch')">
                        Passwords do not match
                      </mat-error> -->
                    </span>
                  </div>
                  <br>
                  <!-- confirm password field -->
                  <div class="input-group">
                    <span>confirm password</span>
                    <input type="text" style="margin-right: 71px; height : 41px; width: 247px"
                      placeholder="confirm password" class="form-control" formControlName="confirm_password"
                      name="confirm_password" class="input-text"
                      [ngClass]="{ 'is-invalid': submitted && f.confirm_password.errors }" required>
                  </div>

                  <div> <span *ngIf="submitted && f.confirm_password.errors" class="invalid-feedback">
                      <span *ngIf="f.confirm_password.errors.required" style="margin-left: -58px;">confirm password is
                        required
                      </span>


                    </span>
                  </div>
                  <mat-error *ngIf="resetPasswordForm.hasError('passwordNotMatch')">
                    Passwords do not match
                  </mat-error>
                </div>

                <div class="form-group">
                  <button type="submit" class="btn btn-lg btn-primary btn-block">Reset Password </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
