// .example-form {
//   min-width: 150px;
//   max-width: 500px;
//   width: 30%;
// }

.example-full-width {
  width: 34%;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.button {
  text-align: -webkit-center;
  padding: 30px;
  margin-left: -76px;
}
