<form autocomplete="off" class="example-form" [formGroup]="addUserForm" (ngSubmit)="onSubmit()">
  <div>
    <!-- user name field -->
    <mat-form-field class="example-full-width">
      <mat-label>User Name</mat-label>
      <input type="text" matInput formControlName="userName" name="userName" class="input-text"
        [ngClass]="{ 'is-invalid': submitted && f.userName.errors }" required>
      <mat-error *ngIf="f.userName.invalid">Username is Required</mat-error>
    </mat-form-field>

    <!-- email name field -->
    <mat-form-field class="example-full-width" style="width: 280px;
    padding: 19px">
      <mat-label>Email</mat-label>
      <input type="text" matInput formControlName="email" name="email" class="input-text"
        [ngClass]="{ 'is-invalid': submitted && f.email.errors }" required>
      <mat-error *ngIf="f.email.invalid">Email is Required</mat-error>
    </mat-form-field>

    <!-- mobile number field -->
    <mat-form-field class="example-full-width">
      <mat-label>mobile number</mat-label>
      <input type="text" matInput formControlName="mobileNumber" name="mobileNumber" class="input-text"
        [ngClass]="{ 'is-invalid': submitted && f.mobileNumber.errors }" maxlength="10" required>
      <mat-error *ngIf="f.mobileNumber.invalid">mobile number is required</mat-error>
    </mat-form-field>

    <!-- Address name field -->
    <mat-form-field class="example-full-width" style="padding: 16px;
    width: 276px;">
      <mat-label>Address</mat-label>
      <input type="text" matInput formControlName="address" name="address" class="input-text"
        [ngClass]="{ 'is-invalid': submitted && f.address.errors }" required>
      <mat-error *ngIf="f.address.invalid">Address is Required</mat-error>
    </mat-form-field>
  </div>
  <!-- submit button on login form -->
  <div class="form-row-last button">
    <button mat-raised-button color="primary">Add</button>
    <button mat-flat-button color="warn" style="margin:10px" (click)="closeModel()">Cancel</button>
  </div>
</form>
